$bgColorDark: #292929;
$bgColorMedium: #f9f9f9;
$bgColorLight: #ffffff;
$accentColor: #e0eb4e;
$fontColorDark: #686868;
$fontColorLight: #ffffff;

$mainFontBold: Montserat-bold;
$mainFontThin: Montserat-italic;
$mainFontRegular: Montserat-regular;
