@import '../../styles/variables';

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    background: $bgColorDark;
    color: $fontColorLight;
  }

  &__link {
    color: $fontColorLight;
  }
}

.link {
  &__container {
    display: flex;
    justify-content: flex-end;
  }
}