<nav class="scroll">
  <ul *ngIf="pageComponents">
    <li 
      *ngFor="let component of pageComponents; let id = index"
      class="menu"
      (click)="onItemSelect(component)"
      [ngSwitch]="component.selector"
    >     
      <fa-icon 
        *ngSwitchCase="'app-header'"
        [icon]="toHeaderIcon"
        class="icon"
      ></fa-icon>
      <fa-icon 
        *ngSwitchCase="'app-footer'"
        [icon]="toFooterIcon"
        class="icon"
      ></fa-icon>
      <span *ngSwitchDefault class="item">
        <span  class="item__text">
          {{component.title}}
        </span>
        <span class="item__id">
          {{id + 1}}
        </span>
      </span>
      
    </li>
  </ul>
</nav>
