$item-size: 18px;
$item-spacing: 20px;
$item-color: rgba(211, 153, 95, 0.5);
$decoration-color: rgb(192, 192, 192, 0.3);;
$menu-color: rgba(0, 0, 0, 0.7);

.scroll {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    
    .item {
        display: block;
        list-style: none;
        border: 1px solid $decoration-color;
        border-radius: $item-size / 2;
        width: $item-size;
        height: $item-size;
        margin: $item-spacing 0;
        background-color: $item-color;
        cursor: pointer;
        
        &__text {
            display: none;
            text-align: left;
            font-size: 0.7rem;
            color: $decoration-color;
            text-align: center;
        }

        &__id {
            display: none;
        }

        &:hover {
            background-color: $menu-color;
            transform: translateX(calc(-100% + #{$item-size}));
            width: 100px;
            transition: 200ms;
            
            .item__text {
                display: block;
            }
        }
    }
    .icon {
        display: block;
        margin: $item-spacing auto;
        font-size: $item-size * 1.2;
        color: $menu-color;

        &:hover {
            color: $item-color;
        }
    }
}