@import '../styles/_variables.scss';

.carousel {
  display: flex;
  justify-content: space-between;
  
  &__wrapper {
    display: flex;
    align-items: center;
    height: 500px;
    background: $bgColorMedium;
  }
}

.products {
  display: flex;
  transition: margin-left 500ms;

  &__container {
    overflow-x: hidden;
  }
}