<div class="promo__container">
  <div class="content__container">
    <div>
      <h1 class="promo__header">fashion that likes to say yes</h1>
      <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
      <app-button>Shop now</app-button>
    </div>
    <div class="image__container col-5">
      <img alt="" class="promo__img" src='../../../assets/img/city-daylight-diversity-1154861.jpg'>
    </div>
  </div>
</div>
